In [1]:
name = "Venkat"
age = 45 

print(name)

Venkat

In [ ]:
# Dynamic Typing 
var = 10 
print(var, type(var))

var = "Hello"
print(var, type(var))

var=3.14 
print(var, type(var))

:

In [ ]:
# input 
age = input("Enter your age:")
print(age,type(age))

:

In [ ]:
#  Simple calculator
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))

sum=num1+num2 
sub=num1-num2
mul=num1*num2 
div=num1/num2 

print("Sum:", sum)
print("Substraction:", sub)
print("Multiply:", mul)
print("Division:", div)

Sum: 20.0
Substraction: 0.0
Multiply: 100.0
Division: 1.0

In [ ]:
### Data types 
# Introduction to datatypes 
# Importance of data types in programming 
# Basic data types:
    # Integers 
    # Floating point numbers 
    # Strings 
    # Booleans 
# Advanced data types 
    # Lists 
    # Tuples 
    # Sets 
    # Dictonaries

In [17]:
# Integers
age=45
type(age)

# floating point datatypes 
height=5.11
type(height)
print(type(height))

# boolean 
is_true=True
type(is_true)

is_true=bool
print(is_true)

a = 10 
b = 10 
a==b
type(a==b)

# common errors
result = "Hello" + 10.0

<class 'float'>
<class 'bool'>

TypeError: can only concatenate str (not "float") to str

In [ ]:
### Deep dive into operators 
# Introduction to Operators 
# Arithmetic operators 
    # Addition (a+b)
    # Subtraction (a-b)
    # Multiplication (a*b)
    # Division (a/b)   ---> Normal division
    # Floor Division (a//b) ---> floor division
    # Modulus (a%b) -----> Remainder
    # Exponentiation (a**b) 
# Logical operators 
    # AND
    # OR
    # NOT 

# Comparision operators 
    # Equal to 
    # Not equal to 
    # Greater than 
    # Less than 
    # Greater than or equal to 
    # Less than or equal to 

a=10
b=5

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

15
5
50
2.0
2
0
100000

In [28]:
# Comparision operators 
## ==
a=10
b=10

a==b

True

In [29]:
str1='Venkat'
str2="Venkat"

str1==str2

True

In [34]:
str3="Venkat"
str4="venkat"

str3==str4
str3!=str4

True

In [35]:
# logical operators 
X=True
Y=True

result=X and Y
print(result)

True

In [36]:
X=True
Y=False
result=X and Y
print(result)

False

In [38]:
X=True
Y=False
result=X or Y
print(result)

True

In [40]:
### Not operator
X=False

not X

True

In [44]:
#  Simple calculator
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))

sum=num1+num2 
sub=num1-num2
mul=num1*num2 
div=num1/num2
floor_div=num1//num2
modulus=num1%num2
exp=num1**num2

print("Sum:", sum)
print("Substraction:", sub)
print("Multiply:", mul)
print("Division:", div)
print("Floor division:", floor_div)
print("modulus:", modulus)
print("Exponentiaion:", exp)

Sum: 17.0
Substraction: 3.0
Multiply: 70.0
Division: 1.4285714285714286
Floor division: 1.0
modulus: 3.0
Exponentiaion: 10000000.0

In [46]:
10//7

1

In [50]:
10//3

3