### for Loop
    - iterate over a range or sequence of numbers 
    - iterate over a string 

### while Loop 

### Loop control statements 
    - break 
    - continue 
    - pass 

### Nested Loops

In [2]:
range (0,10)

range(0, 10)

In [6]:
### for Loop 

for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
for i in range(1,6):  # start,stop
    print(i)

1
2
3
4
5

In [11]:
range(1,10,2)  #start,stop,step

range(1, 10, 2)

In [12]:
print(range(1,10,2))

range(1, 10, 2)

In [17]:
for i in range(1,10,-1):
    print(i)

In [18]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [19]:
### Strings 
str="Python is amazing"
for i in str:
    print(i)

P
y
t
h
o
n

i
s

a
m
a
z
i
n
g

In [20]:
### WHILE loop : While loop continues to execute as long as the condition is True

count = 0 

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [23]:
count = 0 
while count%2==0:
    print(count)
    count = count + 1

0

In [24]:
print(0%2==0)

True

In [28]:
### Loop control statements 
# break: break statment exists the loop prematurely.

for i in range(10):
    if i == 5:  # when i become 5, control come out of loop
        break
    print(i)    # until the loop runs, print the i

0
1
2
3
4

In [ ]:
for i in range (1,100):
    if i == 10:
        break  ## exiting this loop permanently 
    print(i)

1
2
3
4
5
6
7
8
9

In [35]:
 ### continue : the continue statement skips the current iteration and continues with the next

 for i in range(10):
    if i%2 == 0:
        continue  ## this condition will continue to next iteration if i%2==0 (which is even number).Hence it will print only odd numbers
    print(i)

1
3
5
7
9

In [32]:
for i in range (1,20):
    if i%2 != 0:
        continue 
    print(i)

2
4
6
8
10
12
14
16
18

In [34]:
### pass
### The pass statement is a null operation, it does nothing 
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [36]:
### Nested loops 
## A loop inside a loop 

for i in range(3):
    for j in range(2):
        print(f"i: {i} and j: {j}")

i: 0 and j: 0
i: 0 and j: 1
i: 1 and j: 0
i: 1 and j: 1
i: 2 and j: 0
i: 2 and j: 1

In [41]:
## Example - Calculate the sum of the first N natural numbers using a while and for loop 

n=10 
sum=0 
count=1 

while count <= n:
    sum=sum+count 
    count=count+1

print("Sum of first N natural numbers: ",sum)

Sum of first N natural numbers:  55

In [40]:
n=10 
sum=0 
count = 1 

for i in range(11):
    sum = sum + i 

print("Sum of first N natural numbers: ",sum)

Sum of first N natural numbers:  55

In [ ]:
### Example - Display prime numbers between 1 and 100 (prime number = divisible by 1 and itself)
for num in range (1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [45]:
for num in range (1,101):
    ## if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

##### Conclusion: Loops are powerful constructs in Python that allow you to execute a block of code multiple times. By understanding and using for and while loops, along with loop control statements like break,continue and pass, you can handle a wide range of programming tasks.